*{
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
header{
    /* padding: 20px 100px; */
    font-family: sans-serif;
    background-color: grey;
    width: 100%;
    height: 530px;
    background-image: url(https://media.istockphoto.com/photos/screaming-ghost-faces-picture-id1051146310?k=20&m=1051146310&s=170667a&w=0&h=WH8K95gRn1Rmxl7Ep7BuLJdIYZ_KNLSePoVaBH0mX6M=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.blur{
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}
.navi{
    display: flex;
}
.logo{
    width: 95%;
    color: #fff;
    margin: 20px 100px;
}
.menu {
    display: flex;
    color: #fff;
    margin: 20px 100px;
}
.bi{
    color: #fff;
    margin-left: 10px;
}
span{
    color:rgb(255, 110, 0);
}
.first{
    width: 500px;
    margin: 150px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first h1{
    width: 100%;
    padding-bottom: 10px;
    font-size: 45px;
    color: #fff;
}
.first p{
    width:100%;
    line-height: 25px;
    padding-bottom: 30px;
    color: #fff;
}
.one{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px 40px 5px 40px;

}
.two{
    display: inline-block;
    color: #fff;
    border: 1px solid rgb(255, 110, 0);
    background-color: rgb(255, 110, 0);
    border-radius: 5px;
    font-size: 13px;
    padding: 5px 40px 5px 40px;
    margin-left: 20px;
}
.second{
    width: 100%;
}
section{
    font-family: sans-serif;
}
.icons{
    height: 400px;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
   display: block;
   width: 25px;
   height: 25px;
   background-color:#fff;
   border: 2px solid grey;
   border-radius: 50px;
   margin: 40px auto;
}
.cardone{
    width: 300px;
    height: 500px;
    padding: 30px;
}
.cardone img{
    width: 80px;
    height: 80px;
    margin: auto;
    display: block;
    border: 1px solid rgba(128, 128, 128, 0.63);
    border-radius: 50%;
    padding: 10px;
}
.cardone h4{
    text-align: center;
    padding: 20px 0 20px 0;
    color: grey;
}
.cardone p{
    text-align: center;
    font-weight: lighter;
    color: grey;
    
}
.inp{
    background-image: url(https://miro.medium.com/max/5694/1*dr3fIVhl4vvNFn1Ka-QHGQ.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
}
.darkmode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:rgba(6, 7, 6, 0.671);
}
.inp input{
    width: 400px;
    height: 45px;
    padding: 20px;
    border-radius: 6px;
}
.inp a{
    background-color:rgb(255, 110, 0);
    padding: 12px 60px 5px 60px;
    margin-left: 10px;
    border-radius: 6px;
    height: 45px;
}
.library{
    padding: 50px 150px;
    height: 1200px;
}
.library h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: 100;
}
.library p{
    width: 400px;
    margin: auto;
    line-height: 25px;
    text-align: center;
    color: grey;
}  
.photo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 35px;
}
.radius{
    width: 33.33%;
    border-radius: 10px;
    height: 350px;
    padding: 10px;
}
.anim{
    width: 33.33%;
    border-radius: 10px;
    height: 350px;
    padding: 10px;
    position: relative;
}
.metro{
    position: absolute;
    margin:130px 40px;
    width: 300px;
    height: 80px;
}
.metro h1{
    font-size: 70px;
    color: #fff; 
    opacity: 0;
    transition: all 1s;
}
.metro h1:hover{
    font-size: 70px;
    color: #fff; 
    opacity: 5;
}
.photo img{
    width: 100%;
    height: 350px;
    border-radius: 20px;
}
.library a{
    background-color: rgb(255, 110, 0);
    display: block;
    width: 180px;
    height: 40px;
    text-align: center;
    margin: 100px auto;
    padding-top: 12px;
    border-radius: 10px;
}
.little{
    background-image: url(https://static.lensandshutter.com/wp-content/uploads/2020/01/shutterstock_739241962-1.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 400px;
}
.little img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.back{
    width: 100%;
    height: 100%;
    padding: 80px;
    background-color: rgba(6, 7, 6, 0.671);
    position: relative;
}
.manager{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}
.little p{
    text-align: center;
    font-style: italic;
    color: #fff;
    width: 500px;
    margin:20px auto 40px;
    font-size: 20px;
}
.little h5{
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 100;

}
.arrow{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 150px;
    right: 50px;
}
.arrow img{
    width: 40px;
    height: 40px;
}
.team{
    padding: 50px;
    margin-bottom: 30px;
}
.team h1{
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 30px;
}
.team p{
    text-align: center;
    width: 500px;
    font-size: 20px;
    color: grey;
    margin: auto;
    line-height: 1.5;
}
.office{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 20px;
}
.office img{
    width: 100%;
    height: 250px;
    filter: grayscale(1);
}
.office h2{
    text-align: center;
    color:grey;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    margin: 30px 0 20px 0;
}
.twit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.twit img{
    width: 40px;
    height: 40px;
    margin: 7px;
}
.office p{
    font-size: 15px;
    width: 200px;
    margin: 20px 0;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 70px;
}
.color{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 20px;
}
.color img{
    width: 100%;
    height: 250px;
}
.under{
    border-bottom: 6px solid rgb(255, 110, 0);
}
.color h2{
    text-align: center;
    color:grey;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    margin: 30px 0 20px 0;
}
.color p{
    font-size: 15px;
    width: 200px;
    margin: 20px 0;
}
.meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.meta img{
    width: 40px;
    height: 40px;
    margin: 7px;
}
.foot{
    font-family: sans-serif;
    background-image: url(https://img.freepik.com/free-photo/man-using-digital-tablet_36325-2222.jpg?size=626&ext=jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}
.hand{
    width: 100%;
    height:600px;
    background: rgba(6, 7, 6, 0.671)
}
.foot h1{
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    margin: 30px;
    padding-top: 50px;
    
}
.foot p{
    text-align: center;
    width: 850px;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.753);
    margin: auto;
    line-height: 1.5;
}
.put{
    margin-top: 50px;
}
.txt{
    text-align: center;
}
.area{
    text-align: center;
}
#sun{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    margin: 0 10px;
    padding:10px;
}
#floor{
    width: 825px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
}
.inst{
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: 100px;
    justify-content: space-between;
}
.trap{
    display: flex;
    width: 825px;
    margin: 0 auto;
    justify-content: space-between;
}
.trap a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 13px;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
}
.copy{
    background-color: rgb(66, 65, 65);
    display: flex;
    height: 60px;
}

